{block content}
	
	<div class="page-heading">	
		<h1>{_'Active companies'} <span class="number">{$numberOfCompanies}</span></h1>
	</div>
	
	<div class="control-group">
		{control activeGrid}
	</div>

	<div class="control-group">
		<a class="btn-square add" n:href="update idPage => $idPage"><span>{_'Add company'}</span></a>
		<a class="btn-square inactive" n:href="inactiveCompanies idPage => $idPage"><span>{_'Inactive companies'}</span></a>
	</div>

{/block}