{block content}
	
	<div class="page-heading">	
		<h1>{$actualPage->getTitle()}</h1>
	</div>
	<br />
	<div class="control-group">
		<a class="btn btn-primary green" n:href="update idPage => $idPage">{_'Add company'}</a>

		{control companyGrid}

	</div>

{/block}