{block content}

	<div class="page-heading">	
		{if $company->getActive()}
			<a n:href="activeCompanies idPage => $idPage" class="back">{_'Back to active companies'}</a>
		{else}
			<a n:href="inactiveCompanies idPage => $idPage" class="back">{_'Back to inactive companies'}</a>
		{/if}

		<h1 class="float-l">{$company->getName()}</h1>

		<div class="changeActiveStatus float-r">
			{if $company->getActive()}
				<a n:href="deactivate id => $company->getId(), idPage => $idPage, inDetail => true" class="btn btn-primary ajax grey btn btn-default btn-xs btn-mini">{_'Deactivate'}</a>
			{else}
				<a n:href="activate id => $company->getId(), idPage => $idPage, inDetail => true" class="btn btn-primary ajax grey btn btn-default btn-xs btn-mini">{_'Activate'}</a>
			{/if}
		</div>

		<div class="clear"></div>
	</div>

	<div class="row control-group">

		<div class="col-md-6">
			
			<div class="contactInfo">
				<p>
					{$company->getStreet()}<br />
					{$company->getZipCity()}<br />
					{$company->getPhone()}<br />
					{$company->getEmail()}
				</p>

				<a n:href="update id => $company->getId(), idPage => $idPage" class="btn btn-primary green btn btn-default btn-xs btn-mini">{_'Update'}</a>
			</div>

		</div>

		<div class="col-md-6">
			
			<div class="float-l">
				<p class="headTitle">{_'New investments'}</p>
				<p class="numberOfInvestments">{$newInvestments}</p>
				<p class="investmentsAmount">{_'Total'} {$newInvestmentsAmount} Kč</p>
			</div>

			<div class="float-r">
				<p class="headTitle">{_'Open investments'}</p>
				<p class="numberOfInvestments">{$openInvestments}</p>
				<p class="investmentsAmount">{_'Total'} {$openInvestmentsAmount} Kč</p>
			</div>

			<div class="clear"></div>

			<div class="float-l">
				<p class="headTitle">{_'Closed investments'}</p>
				<p class="numberOfInvestments">{$closedInvestments}</p>
				<p class="investmentsAmount">{_'Total'} {$closedInvestmentsAmount} Kč</p>
			</div>

			<div class="float-r">
				<p class="headTitle">{_'Paid investments'}</p>
				<p class="numberOfInvestments">{$paidInvestments}</p>
				<p class="investmentsAmount">{_'Total'} {$paidInvestmentsAmount} Kč</p>
			</div>

		</div>

	</div>

	<div class="row control-group">
		
		<h2>{_'Businessmen'}</h2>
		{control businessmenGrid}

	</div>

	<div class="row control-group">

		<h2>{_'Investments'}</h2>
		{control investmentsGrid}

	</div>

{/block}