{block content}
	
	<div class="page-heading">	
		<h1>{$actualPage->getTitle()}</h1>
	</div>
	
	<div class="control-group">
		<a class="btn-square add" n:href="update idPage => $idPage"><span>{_'Add businessman'}</span></a>
		<a class="btn-square active" n:href="activeBusinessmen idPage => $idPage"><span>{_'Active businessmen'}</span></a>
		<a class="btn-square inactive" n:href="inactiveBusinessmen idPage => $idPage"><span>{_'Inactive businessmen'}</span></a>
	</div>

{/block}